body {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    
}
header{
    display: inline-block;

    box-sizing: border-box;
    width: 200px;
    padding-top: 50px;

    font-size: 2.3em;
    text-align: center;
    font-weight: bold;
    color: #fff;

    background-color: #649fed;
}
main {
    padding-left: 20px;
}
dt,
dd {
    display: inline;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 10px;
    margin-right: 30px;
}
h4 {
    margin-bottom: 0px;
}
p {
    margin-top: 0px;
}
